.card {
    --bs-card-cap-bg: none;
}

.card__discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #F80000;
    padding-left: 4px;
	padding-right: 4px;
    border-radius: 20px;
    display: flex;
    align-items: center;
	font-weight: bold;
	color: #fff;
}
.card__like {
    color: #F80000;
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 4px;
    cursor: pointer;
}

.card__price {
	font-size: 20px;
	line-height: 24px;
	font-weight: 800;
	display: block;
	margin-bottom: 6px;
}
.card__old-price {
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	text-decoration: line-through;
	display: block;
	height: 14px;
}
.card__price-discount {
	color: #F44336;
	font-size: 20px;
	font-weight: 800;
}