.mini-banners__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
	margin-top: 10px;
    margin-bottom: 20px;
}
.mini-banners__item--one {
    background-repeat: no-repeat !important;
	background-image: url(./../assets/images/one.png);
    border-radius: 20px;
    background-size: contain;
    background-position: center right;
    padding: 56px 42px;
}
.mini-banners__item--two {
    background-repeat: no-repeat !important;
	background-image: url(./../assets/images/two.png);
    border-radius: 20px;
    background-size: contain;
    background-position: center right;
    padding: 56px 42px;
}
.mini-banners__item--three {
    background-repeat: no-repeat !important;
	background-image: url(./../assets/images/three.png);
    border-radius: 20px;
    background-size: contain;
    background-position: center right;
    padding: 56px 42px;
}
.mini-banners__item--four {
    background-repeat: no-repeat !important;
	background-image: url(./../assets/images/four.png);
    border-radius: 20px;
    background-size: contain;
    background-position: center right;
    padding: 56px 42px;
}
.mini-banners__item--title {
    font-weight: 800;
    font-size: 32px;
    line-height: 90%;
    color: #fff;
    margin-bottom: 8px;
    max-width: 212px;
}
.mini-banners__item--descr {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    max-width: 242px;
    margin-bottom: 20px;
}
.mini-banners__item--price {
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
}

@media screen and (max-width: 992px) {
	.mini-banners__items {
		background-position: bottom right -150px;
		padding: 10px 0;
		background-size: 530px auto;
		margin-top: 5px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px) {
	.mini-banners {
		margin-bottom: 44px;
	}
	.mini-banners__item--title {
		font-size: 22px;
		max-width: 169px;
	}
}
@media screen and (max-width: 576px) {
	.mini-banners__item--descr {
		font-size: 14px;
	}
}