.product-count {
	margin-top: 15px; 
}

.product-count .qtyminus,
.product-count .qtyplus {
	width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.product-count .qtyminus {
	border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
	border-radius: 0 3px 3px 0; 
}
.product-count .qty {
	width: 40px;
	text-align: center;
}

.span.line-through {
	text-decoration: line-through;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}
.product__old-price {
	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
	text-decoration: line-through;
	display: block;
	height: 14px;
}
.product__price-discount {
	color: #F44336;
	font-size: 24px;
}

.plus,
.minus {
  border: none;
  outline: none;
  background-color: transparent;
  height: 100%;
  width: 40px;
  cursor: pointer;
  font-size: 24px;
}